// overwrite theme variables

// good-looking theme
$primary: #a4a366;
$secondary: #9ab6da;
$dark: #386086;
$light: #f2efee;
$success: #66ab57;
$info: #9ab6da;
$warning: #e49b1f;
$danger: #f00678;

// test theme
// scss-docs-start theme-color-variables
$primary: #0d6efd;
$secondary: #6C757DFF;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$wolf-red: #a90201;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark,
        "wolf-red": $wolf-red
);

// import bootstrap styles at the bottom!
@import 'bootstrap/scss/bootstrap.scss';